nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
}

.app-header {
    position: relative;
    height: 64px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-trigger {
    height: 64px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

.cart-icon {
    position: relative;
    font-size: 26px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 10px;
    right: -5px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}